<%= form_for @post do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="input">
		<%= f.text_area :content %>
		</div>
	<div class="actions">
		<%= f.submit "Enviar" %>
	</div>
<% end %>
