<h1>Sample App</h1>

<p>
  Este es el home de la  
  <a href="http://elclick.cl/">Aplicacion de prueba</a>
  ,v-testing, 2011/08/18, para ElClick.cl
</p>

<%= link_to "Registrate!", signup_path, :class => "signup_button round" %>
