<h1>Videos inspiradores</h1>
<div class="video">
Simon Sinek tiene un modelo simple pero poderoso de liderazgo inspirador; todo se basa en un círculo de oro y la pregunta "¿por qué?" Sus ejemplos incluyen a Apple, Martin Luther King y los hermanos Wright. Y como contraparte, TiVo, que (hasta la reciente victoria legal que triplicó el precio de su acción) parecía estar en dificultades.
<object width="526" height="374">
<param name="movie" value="http://video.ted.com/assets/player/swf/EmbedPlayer.swf"></param>
<param name="allowFullScreen" value="true" />
<param name="allowScriptAccess" value="always"/>
<param name="wmode" value="transparent"></param>
<param name="bgColor" value="#ffffff"></param>
<param name="flashvars" value="vu=http://video.ted.com/talk/stream/2009X/Blank/SimonSinek_2009X-320k.mp4&su=http://images.ted.com/images/ted/tedindex/embed-posters/SimonSinek-2009X.embed_thumbnail.jpg&vw=512&vh=288&ap=0&ti=848&lang=&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=simon_sinek_how_great_leaders_inspire_action;year=2009;theme=not_business_as_usual;theme=unconventional_explanations;theme=a_taste_of_tedx;event=TEDxPuget+Sound+;tag=Business;tag=bullseye;tag=entrepreneur;tag=leadership;tag=sales;tag=selling;tag=success;&preAdTag=tconf.ted/embed;tile=1;sz=512x288;" />
<embed src="http://video.ted.com/assets/player/swf/EmbedPlayer.swf" pluginspace="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" bgColor="#ffffff" width="526" height="374" allowFullScreen="true" allowScriptAccess="always" flashvars="vu=http://video.ted.com/talk/stream/2009X/Blank/SimonSinek_2009X-320k.mp4&su=http://images.ted.com/images/ted/tedindex/embed-posters/SimonSinek-2009X.embed_thumbnail.jpg&vw=512&vh=288&ap=0&ti=848&lang=&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=simon_sinek_how_great_leaders_inspire_action;year=2009;theme=not_business_as_usual;theme=unconventional_explanations;theme=a_taste_of_tedx;event=TEDxPuget+Sound+;tag=Business;tag=bullseye;tag=entrepreneur;tag=leadership;tag=sales;tag=selling;tag=success;&preAdTag=tconf.ted/embed;tile=1;sz=512x288;"></embed>
</object>
</div>

<div class="video">
Seth Godin señala que Internet ha acabado con la publicidad masiva y ha resucitado una unidad social del pasado: las tribus. Estas se basan en ideas y valores comunes, las tribus dan el poder a personas ordinarias de liderar y hacer grandes cambios. Él nos invoca a hacer esto.

<object width="526" height="374">
<param name="movie" value="http://video.ted.com/assets/player/swf/EmbedPlayer.swf"></param>
<param name="allowFullScreen" value="true" />
<param name="allowScriptAccess" value="always"/>
<param name="wmode" value="transparent"></param>
<param name="bgColor" value="#ffffff"></param>
<param name="flashvars" value="vu=http://video.ted.com/talk/stream/2009/Blank/SethGodin_2009-320k.mp4&su=http://images.ted.com/images/ted/tedindex/embed-posters/SethGodin-2009.embed_thumbnail.jpg&vw=512&vh=288&ap=0&ti=538&lang=&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=seth_godin_on_the_tribes_we_lead;year=2009;theme=not_business_as_usual;theme=the_rise_of_collaboration;theme=media_that_matters;theme=unconventional_explanations;event=TED2009;tag=book;tag=communication;tag=community;tag=marketing;tag=social+media;tag=society;&preAdTag=tconf.ted/embed;tile=1;sz=512x288;" />
<embed src="http://video.ted.com/assets/player/swf/EmbedPlayer.swf" pluginspace="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" bgColor="#ffffff" width="526" height="374" allowFullScreen="true" allowScriptAccess="always" flashvars="vu=http://video.ted.com/talk/stream/2009/Blank/SethGodin_2009-320k.mp4&su=http://images.ted.com/images/ted/tedindex/embed-posters/SethGodin-2009.embed_thumbnail.jpg&vw=512&vh=288&ap=0&ti=538&lang=&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=seth_godin_on_the_tribes_we_lead;year=2009;theme=not_business_as_usual;theme=the_rise_of_collaboration;theme=media_that_matters;theme=unconventional_explanations;event=TED2009;tag=book;tag=communication;tag=community;tag=marketing;tag=social+media;tag=society;&preAdTag=tconf.ted/embed;tile=1;sz=512x288;"></embed>
</object>
</div>

<div class="video">
<a href="http://watch.usnowfilm.com/">Watch: Us Now Film</a>
</div>
<div class="video">
One of our most innovative, popular thinkers takes on-in exhilarating style-one of our key questions: Where do good ideas come from?<br>
<iframe width="640" height="390" src="http://www.youtube.com/embed/NugRZGDbPFU?rel=0&amp;hd=1" frameborder="0" allowfullscreen></iframe>
</div>

