<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<script type="text/JavaScript" src="public/javascripts/event_calendar.js"></script>
<h1>Calendar</h1>

<%= raw(event_calendar) %>
